html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white;
}

body > div, main.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

*, :before, :after {
  box-sizing: border-box;
}

a {
  color: #777;
}

@media screen and (max-width: 640px) {
  .message > .box {
    min-width: 12em !important;
  }
}

.replay {
  border: 4px solid black;
  overflow-y: hidden;
  flex: 1;
  padding: 2vh 2vw;
}

.replay > .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;

}

.message {
  margin: 1em 0;
  position: relative;
}
.message.self {
  align-self: flex-start;
}

.message .title {
  position: absolute;
  font-size: 0.8em;
  background: white;
  top: -0.4em;
  left: 0.8em;
  padding: 0 0.5em;
}
.message .subtitle {
  position: absolute;
  font-size: 0.6em;
  background: white;
  bottom: -0.4em;
  right: 0.8em;
  padding: 0 0.5em;
}
.message > .box {
  display: inline-block;
  border: 4px solid black;
  padding: 0.75em;
  font-family: monospace;
  font-size: 1.5em;
  min-width: 20em;
  max-width: 30em;
  min-height: 62px;
  word-break: break-all;
}
.message.active > .box {
  border-color: rgba(0, 0, 0, 0.5);
  transition-property: border-color;
  transition-duration: 0s;
}
.message.active.transition > .box {
  border-color: black;
  transition-duration: 3s;
}

.event-box {
  margin: 1em 0;
  align-self: center;
  color: #777;
  font-family: monospace;
  text-transform: uppercase;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 4px solid black;
  font-family: monospace;
  font-size: 1.5em;
  max-width: 94vw;
  width: 20em;
  height: 3em;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color:  black;
}

.welcome {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  padding: 2vh 2vw;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  flex: 1;
  font-family: monospace;
}
.welcome > * {
  max-width: 500px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  border: 4px solid black;
  padding: 2vh 2vw;
  overflow-y: hidden;
}
.chat > .input {
  position: relative;
  align-self: flex-start;
  left: -1000px;
}
.chat > .title {
  position: absolute;
  top: 4px;
  left: 4px;
  background: black;
  color: white;
  font-family: monospace;
  padding: 0 6px 2px 4px;
  z-index: 1;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 4px;
  right: 4px;
}
.user-list .title, .user-list .content {
  font-family: monospace;
  padding: 0 6px 0px 4px;
  color: white;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
